ThreeOldFloor.CommonLib/bin/Debug/NPinyin.dll
ThreeOldFloor.CommonLib/bin/Debug/Newtonsoft.Json.dll
ThreeOldFloor.CommonLib/bin/Debug/Newtonsoft.Json.xml
ThreeOldFloor.CommonLib/bin/Debug/ThreeOldFloor.CommonLib.dll
ThreeOldFloor.CommonLib/bin/Debug/ThreeOldFloor.CommonLib.pdb
ThreeOldFloor.CommonLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThreeOldFloor.CommonLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ThreeOldFloor.CommonLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ThreeOldFloor.CommonLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ThreeOldFloor.CommonLib/obj/Debug/ThreeOldFloor.CommonLib.csproj.FileListAbsolute.txt
ThreeOldFloor.CommonLib/obj/Debug/ThreeOldFloor.CommonLib.dll
ThreeOldFloor.CommonLib/obj/Debug/ThreeOldFloor.CommonLib.pdb
ThreeOldFloor.Core/bin/Debug/Newtonsoft.Json.dll
ThreeOldFloor.Core/bin/Debug/Newtonsoft.Json.xml
ThreeOldFloor.Core/bin/Debug/StackExchange.Redis.dll
ThreeOldFloor.Core/bin/Debug/StackExchange.Redis.pdb
ThreeOldFloor.Core/bin/Debug/StackExchange.Redis.xml
ThreeOldFloor.Core/bin/Debug/ThreeOldFloor.Core.dll
ThreeOldFloor.Core/bin/Debug/ThreeOldFloor.Core.pdb
ThreeOldFloor.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThreeOldFloor.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ThreeOldFloor.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ThreeOldFloor.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ThreeOldFloor.Core/obj/Debug/ThreeOldFloor.Core.csproj.FileListAbsolute.txt
ThreeOldFloor.Core/obj/Debug/ThreeOldFloor.Core.dll
ThreeOldFloor.Core/obj/Debug/ThreeOldFloor.Core.pdb
ThreeOldFloor.Data/bin/Debug/Dapper.dll
ThreeOldFloor.Data/bin/Debug/Dapper.xml
ThreeOldFloor.Data/bin/Debug/Newtonsoft.Json.dll
ThreeOldFloor.Data/bin/Debug/Newtonsoft.Json.xml
ThreeOldFloor.Data/bin/Debug/StackExchange.Redis.dll
ThreeOldFloor.Data/bin/Debug/StackExchange.Redis.pdb
ThreeOldFloor.Data/bin/Debug/StackExchange.Redis.xml
ThreeOldFloor.Data/bin/Debug/ThreeOldFloor.Core.dll
ThreeOldFloor.Data/bin/Debug/ThreeOldFloor.Core.pdb
ThreeOldFloor.Data/bin/Debug/ThreeOldFloor.Data.dll
ThreeOldFloor.Data/bin/Debug/ThreeOldFloor.Data.pdb
ThreeOldFloor.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThreeOldFloor.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ThreeOldFloor.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ThreeOldFloor.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ThreeOldFloor.Data/obj/Debug/ThreeOldFloor.Data.csproj.FileListAbsolute.txt
ThreeOldFloor.Data/obj/Debug/ThreeOldFloor.Data.csprojResolveAssemblyReference.cache
ThreeOldFloor.Data/obj/Debug/ThreeOldFloor.Data.dll
ThreeOldFloor.Data/obj/Debug/ThreeOldFloor.Data.pdb
ThreeOldFloor.Entity/bin/Debug/Dapper.dll
ThreeOldFloor.Entity/bin/Debug/Dapper.xml
ThreeOldFloor.Entity/bin/Debug/Newtonsoft.Json.dll
ThreeOldFloor.Entity/bin/Debug/Newtonsoft.Json.xml
ThreeOldFloor.Entity/bin/Debug/StackExchange.Redis.dll
ThreeOldFloor.Entity/bin/Debug/StackExchange.Redis.pdb
ThreeOldFloor.Entity/bin/Debug/StackExchange.Redis.xml
ThreeOldFloor.Entity/bin/Debug/ThreeOldFloor.Core.dll
ThreeOldFloor.Entity/bin/Debug/ThreeOldFloor.Core.pdb
ThreeOldFloor.Entity/bin/Debug/ThreeOldFloor.Data.dll
ThreeOldFloor.Entity/bin/Debug/ThreeOldFloor.Data.pdb
ThreeOldFloor.Entity/bin/Debug/ThreeOldFloor.Entity.dll
ThreeOldFloor.Entity/bin/Debug/ThreeOldFloor.Entity.pdb
ThreeOldFloor.Entity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThreeOldFloor.Entity/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ThreeOldFloor.Entity/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ThreeOldFloor.Entity/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ThreeOldFloor.Entity/obj/Debug/ThreeOldFloor.Entity.csproj.FileListAbsolute.txt
ThreeOldFloor.Entity/obj/Debug/ThreeOldFloor.Entity.csprojResolveAssemblyReference.cache
ThreeOldFloor.Entity/obj/Debug/ThreeOldFloor.Entity.dll
ThreeOldFloor.Entity/obj/Debug/ThreeOldFloor.Entity.pdb
ThreeOldFloor.Tests/bin/Debug/Dapper.dll
ThreeOldFloor.Tests/bin/Debug/Dapper.xml
ThreeOldFloor.Tests/bin/Debug/Jil.dll
ThreeOldFloor.Tests/bin/Debug/Jil.pdb
ThreeOldFloor.Tests/bin/Debug/Jil.xml
ThreeOldFloor.Tests/bin/Debug/Microsoft.Data.Edm.dll
ThreeOldFloor.Tests/bin/Debug/Microsoft.Data.Edm.xml
ThreeOldFloor.Tests/bin/Debug/Microsoft.Data.OData.dll
ThreeOldFloor.Tests/bin/Debug/Microsoft.Data.OData.xml
ThreeOldFloor.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
ThreeOldFloor.Tests/bin/Debug/Microsoft.Web.Mvc.FixedDisplayModes.dll
ThreeOldFloor.Tests/bin/Debug/NLog.dll
ThreeOldFloor.Tests/bin/Debug/NLog.xml
ThreeOldFloor.Tests/bin/Debug/NPinyin.dll
ThreeOldFloor.Tests/bin/Debug/Newtonsoft.Json.dll
ThreeOldFloor.Tests/bin/Debug/Newtonsoft.Json.xml
ThreeOldFloor.Tests/bin/Debug/Sigil.dll
ThreeOldFloor.Tests/bin/Debug/Sigil.xml
ThreeOldFloor.Tests/bin/Debug/StackExchange.Redis.dll
ThreeOldFloor.Tests/bin/Debug/StackExchange.Redis.pdb
ThreeOldFloor.Tests/bin/Debug/StackExchange.Redis.xml
ThreeOldFloor.Tests/bin/Debug/System.Net.Http.Formatting.dll
ThreeOldFloor.Tests/bin/Debug/System.Net.Http.Formatting.xml
ThreeOldFloor.Tests/bin/Debug/System.Net.Http.WebRequest.dll
ThreeOldFloor.Tests/bin/Debug/System.Net.Http.dll
ThreeOldFloor.Tests/bin/Debug/System.Spatial.dll
ThreeOldFloor.Tests/bin/Debug/System.Spatial.xml
ThreeOldFloor.Tests/bin/Debug/System.Web.Helpers.dll
ThreeOldFloor.Tests/bin/Debug/System.Web.Helpers.xml
ThreeOldFloor.Tests/bin/Debug/System.Web.Http.OData.dll
ThreeOldFloor.Tests/bin/Debug/System.Web.Http.OData.xml
ThreeOldFloor.Tests/bin/Debug/System.Web.Http.WebHost.dll
ThreeOldFloor.Tests/bin/Debug/System.Web.Http.WebHost.xml
ThreeOldFloor.Tests/bin/Debug/System.Web.Http.dll
ThreeOldFloor.Tests/bin/Debug/System.Web.Http.xml
ThreeOldFloor.Tests/bin/Debug/System.Web.Mvc.dll
ThreeOldFloor.Tests/bin/Debug/System.Web.Mvc.xml
ThreeOldFloor.Tests/bin/Debug/System.Web.Razor.dll
ThreeOldFloor.Tests/bin/Debug/System.Web.Razor.xml
ThreeOldFloor.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
ThreeOldFloor.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
ThreeOldFloor.Tests/bin/Debug/System.Web.WebPages.Razor.dll
ThreeOldFloor.Tests/bin/Debug/System.Web.WebPages.Razor.xml
ThreeOldFloor.Tests/bin/Debug/System.Web.WebPages.dll
ThreeOldFloor.Tests/bin/Debug/System.Web.WebPages.xml
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.CommonLib.dll
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.CommonLib.pdb
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.Core.dll
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.Core.pdb
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.Data.dll
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.Data.pdb
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.Entity.dll
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.Entity.pdb
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.Tests.dll
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.Tests.dll.config
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.Tests.pdb
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.WebAPIFramework.dll
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.WebAPIFramework.pdb
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.dll
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloor.pdb
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloorApplication.dll
ThreeOldFloor.Tests/bin/Debug/ThreeOldFloorApplication.pdb
ThreeOldFloor.Tests/bin/Debug/de/Microsoft.Data.Edm.resources.dll
ThreeOldFloor.Tests/bin/Debug/de/Microsoft.Data.OData.resources.dll
ThreeOldFloor.Tests/bin/Debug/de/System.Spatial.resources.dll
ThreeOldFloor.Tests/bin/Debug/es/Microsoft.Data.Edm.resources.dll
ThreeOldFloor.Tests/bin/Debug/es/Microsoft.Data.OData.resources.dll
ThreeOldFloor.Tests/bin/Debug/es/System.Spatial.resources.dll
ThreeOldFloor.Tests/bin/Debug/fr/Microsoft.Data.Edm.resources.dll
ThreeOldFloor.Tests/bin/Debug/fr/Microsoft.Data.OData.resources.dll
ThreeOldFloor.Tests/bin/Debug/fr/System.Spatial.resources.dll
ThreeOldFloor.Tests/bin/Debug/it/Microsoft.Data.Edm.resources.dll
ThreeOldFloor.Tests/bin/Debug/it/Microsoft.Data.OData.resources.dll
ThreeOldFloor.Tests/bin/Debug/it/System.Spatial.resources.dll
ThreeOldFloor.Tests/bin/Debug/ja/Microsoft.Data.Edm.resources.dll
ThreeOldFloor.Tests/bin/Debug/ja/Microsoft.Data.OData.resources.dll
ThreeOldFloor.Tests/bin/Debug/ja/System.Spatial.resources.dll
ThreeOldFloor.Tests/bin/Debug/ko/Microsoft.Data.Edm.resources.dll
ThreeOldFloor.Tests/bin/Debug/ko/Microsoft.Data.OData.resources.dll
ThreeOldFloor.Tests/bin/Debug/ko/System.Spatial.resources.dll
ThreeOldFloor.Tests/bin/Debug/ru/Microsoft.Data.Edm.resources.dll
ThreeOldFloor.Tests/bin/Debug/ru/Microsoft.Data.OData.resources.dll
ThreeOldFloor.Tests/bin/Debug/ru/System.Spatial.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/Microsoft.Data.Edm.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/Microsoft.Data.OData.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/System.Net.Http.Formatting.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/System.Spatial.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/System.Web.Helpers.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/System.Web.Http.OData.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/System.Web.Http.WebHost.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/System.Web.Http.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/System.Web.Mvc.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/System.Web.Razor.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/System.Web.WebPages.Deployment.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/System.Web.WebPages.Razor.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hans/System.Web.WebPages.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hant/Microsoft.Data.Edm.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hant/Microsoft.Data.OData.resources.dll
ThreeOldFloor.Tests/bin/Debug/zh-Hant/System.Spatial.resources.dll
ThreeOldFloor.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThreeOldFloor.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ThreeOldFloor.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ThreeOldFloor.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ThreeOldFloor.Tests/obj/Debug/ThreeOldFloor.Tests.csproj.FileListAbsolute.txt
ThreeOldFloor.Tests/obj/Debug/ThreeOldFloor.Tests.csprojResolveAssemblyReference.cache
ThreeOldFloor.Tests/obj/Debug/ThreeOldFloor.Tests.dll
ThreeOldFloor.Tests/obj/Debug/ThreeOldFloor.Tests.pdb
ThreeOldFloor.Tests/obj/Debug/ThreeOldFloor.WebAPI.Tests.csproj.FileListAbsolute.txt
ThreeOldFloor.Tests/obj/Debug/ThreeOldFloor.WebAPI.Tests.csprojResolveAssemblyReference.cache
ThreeOldFloor.WebAPIFramework/bin/Debug/Dapper.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/Dapper.xml
ThreeOldFloor.WebAPIFramework/bin/Debug/Jil.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/Jil.pdb
ThreeOldFloor.WebAPIFramework/bin/Debug/Jil.xml
ThreeOldFloor.WebAPIFramework/bin/Debug/NLog.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/NLog.xml
ThreeOldFloor.WebAPIFramework/bin/Debug/NPinyin.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/Newtonsoft.Json.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/Newtonsoft.Json.xml
ThreeOldFloor.WebAPIFramework/bin/Debug/Sigil.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/Sigil.xml
ThreeOldFloor.WebAPIFramework/bin/Debug/StackExchange.Redis.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/StackExchange.Redis.pdb
ThreeOldFloor.WebAPIFramework/bin/Debug/StackExchange.Redis.xml
ThreeOldFloor.WebAPIFramework/bin/Debug/System.Net.Http.Formatting.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/System.Net.Http.Formatting.xml
ThreeOldFloor.WebAPIFramework/bin/Debug/System.Web.Http.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/System.Web.Http.xml
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloor.CommonLib.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloor.CommonLib.pdb
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloor.Core.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloor.Core.pdb
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloor.Data.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloor.Data.pdb
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloor.Entity.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloor.Entity.pdb
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloor.WebAPIFramework.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloor.WebAPIFramework.dll.config
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloor.WebAPIFramework.pdb
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloorApplication.dll
ThreeOldFloor.WebAPIFramework/bin/Debug/ThreeOldFloorApplication.pdb
ThreeOldFloor.WebAPIFramework/bin/Debug/zh-Hans/System.Web.Http.resources.dll
ThreeOldFloor.WebAPIFramework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThreeOldFloor.WebAPIFramework/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ThreeOldFloor.WebAPIFramework/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ThreeOldFloor.WebAPIFramework/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ThreeOldFloor.WebAPIFramework/obj/Debug/ThreeOldFloor.WebAPIFramework.csproj.FileListAbsolute.txt
ThreeOldFloor.WebAPIFramework/obj/Debug/ThreeOldFloor.WebAPIFramework.csprojResolveAssemblyReference.cache
ThreeOldFloor.WebAPIFramework/obj/Debug/ThreeOldFloor.WebAPIFramework.dll
ThreeOldFloor.WebAPIFramework/obj/Debug/ThreeOldFloor.WebAPIFramework.pdb
ThreeOldFloor/bin/Antlr3.Runtime.dll
ThreeOldFloor/bin/Dapper.dll
ThreeOldFloor/bin/Dapper.xml
ThreeOldFloor/bin/EntityFramework.dll
ThreeOldFloor/bin/EntityFramework.xml
ThreeOldFloor/bin/Jil.dll
ThreeOldFloor/bin/Jil.pdb
ThreeOldFloor/bin/Jil.xml
ThreeOldFloor/bin/Microsoft.Data.Edm.dll
ThreeOldFloor/bin/Microsoft.Data.Edm.xml
ThreeOldFloor/bin/Microsoft.Data.OData.dll
ThreeOldFloor/bin/Microsoft.Data.OData.xml
ThreeOldFloor/bin/Microsoft.Web.Infrastructure.dll
ThreeOldFloor/bin/Microsoft.Web.Mvc.FixedDisplayModes.dll
ThreeOldFloor/bin/NLog.dll
ThreeOldFloor/bin/NLog.xml
ThreeOldFloor/bin/NPinyin.dll
ThreeOldFloor/bin/Newtonsoft.Json.dll
ThreeOldFloor/bin/Newtonsoft.Json.xml
ThreeOldFloor/bin/Sigil.dll
ThreeOldFloor/bin/Sigil.xml
ThreeOldFloor/bin/StackExchange.Redis.dll
ThreeOldFloor/bin/StackExchange.Redis.pdb
ThreeOldFloor/bin/StackExchange.Redis.xml
ThreeOldFloor/bin/System.Net.Http.Formatting.dll
ThreeOldFloor/bin/System.Net.Http.WebRequest.dll
ThreeOldFloor/bin/System.Net.Http.dll
ThreeOldFloor/bin/System.Spatial.dll
ThreeOldFloor/bin/System.Spatial.xml
ThreeOldFloor/bin/System.Web.Helpers.dll
ThreeOldFloor/bin/System.Web.Helpers.xml
ThreeOldFloor/bin/System.Web.Http.Common.dll
ThreeOldFloor/bin/System.Web.Http.Common.xml
ThreeOldFloor/bin/System.Web.Http.OData.dll
ThreeOldFloor/bin/System.Web.Http.OData.xml
ThreeOldFloor/bin/System.Web.Http.Tracing.dll
ThreeOldFloor/bin/System.Web.Http.Tracing.xml
ThreeOldFloor/bin/System.Web.Http.WebHost.dll
ThreeOldFloor/bin/System.Web.Http.WebHost.xml
ThreeOldFloor/bin/System.Web.Http.dll
ThreeOldFloor/bin/System.Web.Mvc.dll
ThreeOldFloor/bin/System.Web.Mvc.xml
ThreeOldFloor/bin/System.Web.Optimization.dll
ThreeOldFloor/bin/System.Web.Providers.dll
ThreeOldFloor/bin/System.Web.Razor.dll
ThreeOldFloor/bin/System.Web.Razor.xml
ThreeOldFloor/bin/System.Web.WebPages.Deployment.dll
ThreeOldFloor/bin/System.Web.WebPages.Deployment.xml
ThreeOldFloor/bin/System.Web.WebPages.Razor.dll
ThreeOldFloor/bin/System.Web.WebPages.Razor.xml
ThreeOldFloor/bin/System.Web.WebPages.dll
ThreeOldFloor/bin/System.Web.WebPages.xml
ThreeOldFloor/bin/ThreeOldFloor.CommonLib.dll
ThreeOldFloor/bin/ThreeOldFloor.CommonLib.pdb
ThreeOldFloor/bin/ThreeOldFloor.Core.dll
ThreeOldFloor/bin/ThreeOldFloor.Core.pdb
ThreeOldFloor/bin/ThreeOldFloor.Data.dll
ThreeOldFloor/bin/ThreeOldFloor.Data.pdb
ThreeOldFloor/bin/ThreeOldFloor.Entity.dll
ThreeOldFloor/bin/ThreeOldFloor.Entity.pdb
ThreeOldFloor/bin/ThreeOldFloor.WebAPIFramework.dll
ThreeOldFloor/bin/ThreeOldFloor.WebAPIFramework.pdb
ThreeOldFloor/bin/ThreeOldFloor.dll
ThreeOldFloor/bin/ThreeOldFloor.dll.config
ThreeOldFloor/bin/ThreeOldFloor.pdb
ThreeOldFloor/bin/ThreeOldFloorApplication.dll
ThreeOldFloor/bin/ThreeOldFloorApplication.pdb
ThreeOldFloor/bin/WebGrease.dll
ThreeOldFloor/bin/de/Microsoft.Data.Edm.resources.dll
ThreeOldFloor/bin/de/Microsoft.Data.OData.resources.dll
ThreeOldFloor/bin/de/System.Spatial.resources.dll
ThreeOldFloor/bin/es/Microsoft.Data.Edm.resources.dll
ThreeOldFloor/bin/es/Microsoft.Data.OData.resources.dll
ThreeOldFloor/bin/es/System.Spatial.resources.dll
ThreeOldFloor/bin/fr/Microsoft.Data.Edm.resources.dll
ThreeOldFloor/bin/fr/Microsoft.Data.OData.resources.dll
ThreeOldFloor/bin/fr/System.Spatial.resources.dll
ThreeOldFloor/bin/it/Microsoft.Data.Edm.resources.dll
ThreeOldFloor/bin/it/Microsoft.Data.OData.resources.dll
ThreeOldFloor/bin/it/System.Spatial.resources.dll
ThreeOldFloor/bin/ja/Microsoft.Data.Edm.resources.dll
ThreeOldFloor/bin/ja/Microsoft.Data.OData.resources.dll
ThreeOldFloor/bin/ja/System.Spatial.resources.dll
ThreeOldFloor/bin/ko/Microsoft.Data.Edm.resources.dll
ThreeOldFloor/bin/ko/Microsoft.Data.OData.resources.dll
ThreeOldFloor/bin/ko/System.Spatial.resources.dll
ThreeOldFloor/bin/ru/Microsoft.Data.Edm.resources.dll
ThreeOldFloor/bin/ru/Microsoft.Data.OData.resources.dll
ThreeOldFloor/bin/ru/System.Spatial.resources.dll
ThreeOldFloor/bin/zh-Hans/EntityFramework.resources.dll
ThreeOldFloor/bin/zh-Hans/Microsoft.Data.Edm.resources.dll
ThreeOldFloor/bin/zh-Hans/Microsoft.Data.OData.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Spatial.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Web.Helpers.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Web.Http.OData.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Web.Http.Tracing.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Web.Http.WebHost.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Web.Mvc.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Web.Optimization.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Web.Providers.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Web.Razor.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
ThreeOldFloor/bin/zh-Hans/System.Web.WebPages.resources.dll
ThreeOldFloor/bin/zh-Hant/Microsoft.Data.Edm.resources.dll
ThreeOldFloor/bin/zh-Hant/Microsoft.Data.OData.resources.dll
ThreeOldFloor/bin/zh-Hant/System.Spatial.resources.dll
ThreeOldFloor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThreeOldFloor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ThreeOldFloor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ThreeOldFloor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ThreeOldFloor/obj/Debug/ThreeOldFloor.WebAPI.csproj.FileListAbsolute.txt
ThreeOldFloor/obj/Debug/ThreeOldFloor.WebAPI.csprojResolveAssemblyReference.cache
ThreeOldFloor/obj/Debug/ThreeOldFloor.csproj.FileListAbsolute.txt
ThreeOldFloor/obj/Debug/ThreeOldFloor.dll
ThreeOldFloor/obj/Debug/ThreeOldFloor.pdb
ThreeOldFloor/obj/Debug/ThreeOldFloor。WebAPI.csproj.FileListAbsolute.txt
ThreeOldFloorApplication/bin/Debug/Dapper.dll
ThreeOldFloorApplication/bin/Debug/Dapper.xml
ThreeOldFloorApplication/bin/Debug/NLog.dll
ThreeOldFloorApplication/bin/Debug/NLog.xml
ThreeOldFloorApplication/bin/Debug/NPinyin.dll
ThreeOldFloorApplication/bin/Debug/Newtonsoft.Json.dll
ThreeOldFloorApplication/bin/Debug/Newtonsoft.Json.xml
ThreeOldFloorApplication/bin/Debug/StackExchange.Redis.dll
ThreeOldFloorApplication/bin/Debug/StackExchange.Redis.pdb
ThreeOldFloorApplication/bin/Debug/StackExchange.Redis.xml
ThreeOldFloorApplication/bin/Debug/System.Net.Http.Formatting.dll
ThreeOldFloorApplication/bin/Debug/System.Net.Http.Formatting.xml
ThreeOldFloorApplication/bin/Debug/ThreeOldFloor.CommonLib.dll
ThreeOldFloorApplication/bin/Debug/ThreeOldFloor.CommonLib.pdb
ThreeOldFloorApplication/bin/Debug/ThreeOldFloor.Core.dll
ThreeOldFloorApplication/bin/Debug/ThreeOldFloor.Core.pdb
ThreeOldFloorApplication/bin/Debug/ThreeOldFloor.Data.dll
ThreeOldFloorApplication/bin/Debug/ThreeOldFloor.Data.pdb
ThreeOldFloorApplication/bin/Debug/ThreeOldFloor.Entity.dll
ThreeOldFloorApplication/bin/Debug/ThreeOldFloor.Entity.pdb
ThreeOldFloorApplication/bin/Debug/ThreeOldFloorApplication.dll
ThreeOldFloorApplication/bin/Debug/ThreeOldFloorApplication.dll.config
ThreeOldFloorApplication/bin/Debug/ThreeOldFloorApplication.pdb
ThreeOldFloorApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThreeOldFloorApplication/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ThreeOldFloorApplication/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ThreeOldFloorApplication/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ThreeOldFloorApplication/obj/Debug/ThreeOldFloor.Application.csproj.FileListAbsolute.txt
ThreeOldFloorApplication/obj/Debug/ThreeOldFloor.Application.csprojResolveAssemblyReference.cache
ThreeOldFloorApplication/obj/Debug/ThreeOldFloorApplication.dll
ThreeOldFloorApplication/obj/Debug/ThreeOldFloorApplication.pdb
ThreeOldFloor.CommonLib/obj/Debug/ThreeOldFloor.CommonLib.csprojResolveAssemblyReference.cache
ThreeOldFloor.Core/obj/Debug/ThreeOldFloor.Core.csprojResolveAssemblyReference.cache
